<div class="row">
  <ul class="thumbnails files">
<% unless @photos.empty? %>
  <% @photos.each do |pic| %>
    <li class="col-md-3" id="picture_<%= pic.id %>" style="list-style-type: none;">
    <div class="thumbnail">
      <%= image_tag pic.avatar.url %>
      <div class="caption">
        <p style="text-align: center;">
        <%= link_to "Edit picture", photo_path(pic) %>

        <%=
          link_to "Delete picture", pic,
            :data => { :confirm => "Are you sure?" },
            :method => :delete
          %>

        </p>
      </div>
    </div>
    </li>
  <% end %>
<% end %>
</ul>
</div>